button {
    font-size:24px;
    font-weight:bold;
}

.top-container {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.calc-container {
    display:flex;
    flex-direction: column;
    width: max-content;
}

.display-container {
    display:flex;
    background-color: aqua;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.op-container {
    background-color: azure;
    display:flex;
    flex-direction: column;
    max-width:100px;
}

.numpad-container {
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    max-width: 300px;
}

button.numpad {
    min-width: 100px;
    min-height: 100px;
}

.op-container button.numpad {
    color:blueviolet;
    
}