.top-container {
    background-color: aqua;
}

.calc-container {
    background-color: antiquewhite;
    flex-direction: column;
    display:flex;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.op-container {
    background-color: azure;
    display:flex;
    flex-direction: column;
    max-width:100px;
}

.numpad-container {
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    max-width: 300px;
}

button.numpad {
    min-width: 100px;
    min-height: 100px;
}